API_URL="http://localhost:4001/"
PORT="4001"

JWT_SECRET="QsJuy...."

GOOGLE_VERTEX_AI_JSON_PATH_REGION="europe-west4"
GOOGLE_VERTEX_AI_JSON_PATH="./keys/lexora-vertex-ai.json"

GOOGLE_API="your-google-cloud-api-key"